<!DOCTYPE html>
<meta charset="utf-8">

<svg width="2000" height="5000"></svg>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var nodes = [
{ id: "BANK", group: 0, label: "BANK-n", level: 1, color: "green" },
{ id: "BAR", group: 1, label: "BAR-n", level: 1, color: "green" },
{ id: "BBC", group: 2, label: "BBC-n", level: 1, color: "green" },
{ id: "BLOG", group: 3, label: "BLOG-n", level: 1, color: "green" },
{ id: "BLUE", group: 4, label: "BLUE-n", level: 1, color: "green" },
{ id: "BOOK", group: 5, label: "BOOK-d", level: 1, color: "green" },
{ id: "CALL", group: 6, label: "CALL-t", level: 1, color: "green" },
{ id: "CAPITAL", group: 7, label: "CAPITAL-d", level: 1, color: "green" },
{ id: "CITY", group: 8, label: "CITY-d", level: 1, color: "green" },
{ id: "CLUB", group: 9, label: "CLUB-n", level: 1, color: "green" },
{ id: "COFFEE", group: 10, label: "COFFEE-n", level: 1, color: "green" },
{ id: "COMPUTER", group: 11, label: "COMPUTER-d", level: 1, color: "green" },
{ id: "DENTIST", group: 12, label: "DENTIST-n", level: 1, color: "green" },
{ id: "DISH", group: 13, label: "DISH-n", level: 1, color: "green" },
{ id: "ENERGY", group: 14, label: "ENERGY-d", level: 1, color: "green" },
{ id: "ERICSSON", group: 15, label: "ERICSSON-n", level: 1, color: "green" },
{ id: "FARMERS", group: 16, label: "FARMERS-n", level: 1, color: "green" },
{ id: "FISHING", group: 17, label: "FISHING-d", level: 1, color: "green" },
{ id: "FLY", group: 18, label: "FLY-n", level: 1, color: "green" },
{ id: "FOOD", group: 19, label: "FOOD-t", level: 1, color: "green" },
{ id: "FREE", group: 20, label: "FREE-1", level: 1, color: "orange" },
{ id: "GAME", group: 21, label: "GAME-n", level: 1, color: "green" },
{ id: "GARDEN", group: 22, label: "GARDEN-n", level: 1, color: "green" },
{ id: "GIFT", group: 23, label: "GIFT-n", level: 1, color: "green" },
{ id: "GLASS", group: 24, label: "GLASS-d", level: 1, color: "green" },
{ id: "GOOGLE", group: 25, label: "GOOGLE-d", level: 1, color: "green" },
{ id: "GREEN", group: 26, label: "GREEN-n", level: 1, color: "green" },
{ id: "HOUSE", group: 27, label: "HOUSE-d", level: 1, color: "green" },
{ id: "ICE", group: 28, label: "ICE-2", level: 1, color: "orange" },
{ id: "KINDLE", group: 29, label: "KINDLE-n", level: 1, color: "green" },
{ id: "LEGO", group: 30, label: "LEGO-3", level: 1, color: "orange" },
{ id: "LIVE", group: 31, label: "LIVE-n", level: 1, color: "green" },
{ id: "LIVING", group: 32, label: "LIVING-n", level: 1, color: "green" },
{ id: "MARKET", group: 33, label: "MARKET-d", level: 1, color: "green" },
{ id: "MICROSOFT", group: 34, label: "MICROSOFT-6", level: 1, color: "orange" },
{ id: "MIT", group: 35, label: "MIT-n", level: 1, color: "green" },
{ id: "MOBILE", group: 36, label: "MOBILE-d", level: 1, color: "green" },
{ id: "MONSTER", group: 37, label: "MONSTER-n", level: 1, color: "green" },
{ id: "MOVIE", group: 38, label: "MOVIE-d", level: 1, color: "green" },
{ id: "NETWORK", group: 39, label: "NETWORK-8", level: 1, color: "orange" },
{ id: "NEW", group: 40, label: "NEW-n", level: 1, color: "green" },
{ id: "OFF", group: 41, label: "OFF-n", level: 1, color: "green" },
{ id: "OFFICE", group: 42, label: "OFFICE-d", level: 1, color: "green" },
{ id: "ONE", group: 43, label: "ONE-9", level: 1, color: "orange" },
{ id: "OPEN", group: 44, label: "OPEN-5", level: 1, color: "orange" },
{ id: "PET", group: 45, label: "PET-d", level: 1, color: "green" },
{ id: "PHONE", group: 46, label: "PHONE-d", level: 1, color: "green" },
{ id: "PICTURES", group: 47, label: "PICTURES-n", level: 1, color: "green" },
{ id: "PIN", group: 48, label: "PIN-n", level: 1, color: "green" },
{ id: "PLACE", group: 49, label: "PLACE-n", level: 1, color: "green" },
{ id: "PLAYSTATION", group: 50, label: "PLAYSTATION-d", level: 1, color: "green" },
{ id: "PLUS", group: 51, label: "PLUS-t", level: 1, color: "green" },
{ id: "POST", group: 52, label: "POST-d", level: 1, color: "green" },
{ id: "PRESS", group: 53, label: "PRESS-d", level: 1, color: "green" },
{ id: "RADIO", group: 54, label: "RADIO-d", level: 1, color: "green" },
{ id: "ROOM", group: 55, label: "ROOM-d", level: 1, color: "green" },
{ id: "SAFE", group: 56, label: "SAFE-n", level: 1, color: "green" },
{ id: "SAFETY", group: 57, label: "SAFETY-d", level: 1, color: "green" },
{ id: "SEARCH", group: 58, label: "SEARCH-d", level: 1, color: "green" },
{ id: "SHOP", group: 59, label: "SHOP-d", level: 1, color: "green" },
{ id: "SOCIAL", group: 60, label: "SOCIAL-d", level: 1, color: "green" },
{ id: "SOLAR", group: 61, label: "SOLAR-n", level: 1, color: "green" },
{ id: "SONY", group: 62, label: "SONY-d", level: 1, color: "green" },
{ id: "STAR", group: 63, label: "STAR-n", level: 1, color: "green" },
{ id: "STORE", group: 64, label: "STORE-d", level: 1, color: "green" },
{ id: "STUDIO", group: 65, label: "STUDIO-d", level: 1, color: "green" },
{ id: "TENNIS", group: 66, label: "TENNIS-n", level: 1, color: "green" },
{ id: "THEATER", group: 67, label: "THEATER-n", level: 1, color: "green" },
{ id: "TRADING", group: 68, label: "TRADING-n", level: 1, color: "green" },
{ id: "VIRGIN", group: 69, label: "VIRGIN-n", level: 1, color: "green" },
{ id: "VISION", group: 70, label: "VISION-n", level: 1, color: "green" },
{ id: "WORLD", group: 71, label: "WORLD-d", level: 1, color: "green" },
{ id: "XBOX", group: 72, label: "XBOX-d", level: 1, color: "green" },
{ id: "YAHOO", group: 73, label: "YAHOO-n", level: 1, color: "green" },
{ id: "YOGA", group: 74, label: "YOGA-n", level: 1, color: "green" },
{ id: "AD", group: 75, label: "AD-d", level: 1, color: "green" },
{ id: "AM", group: 76, label: "AM-t", level: 1, color: "green" },
{ id: "AR", group: 77, label: "AR-d", level: 1, color: "green" },
{ id: "AZ", group: 78, label: "AZ-d", level: 1, color: "green" },
{ id: "BE", group: 79, label: "BE-d", level: 1, color: "green" },
{ id: "BO", group: 80, label: "BO-d", level: 1, color: "green" },
{ id: "BR", group: 81, label: "BR-d", level: 1, color: "green" },
{ id: "CL", group: 82, label: "CL-n", level: 1, color: "green" },
{ id: "CZ", group: 83, label: "CZ-n", level: 1, color: "green" },
{ id: "DE", group: 84, label: "DE-d", level: 1, color: "green" },
{ id: "ES", group: 85, label: "ES-t", level: 1, color: "green" },
{ id: "FR", group: 86, label: "FR-t", level: 1, color: "green" },
{ id: "GE", group: 87, label: "GE-d", level: 1, color: "green" },
{ id: "GR", group: 88, label: "GR-n", level: 1, color: "green" },
{ id: "IR", group: 89, label: "IR-n", level: 1, color: "green" },
{ id: "IQ", group: 90, label: "IQ-7", level: 1, color: "orange" },
{ id: "KW", group: 91, label: "KW-n", level: 1, color: "green" },
{ id: "LU", group: 92, label: "LU-4", level: 1, color: "orange" },
{ id: "NL", group: 93, label: "NL-n", level: 1, color: "green" },
{ id: "PL", group: 94, label: "PL-d", level: 1, color: "green" },
{ id: "PT", group: 95, label: "PT-n", level: 1, color: "green" },
{ id: "PY", group: 96, label: "PY-t", level: 1, color: "green" },
{ id: "RU", group: 97, label: "RU-t", level: 1, color: "green" },
{ id: "SY", group: 98, label: "SY-t", level: 1, color: "green" },
{ id: "TR", group: 99, label: "TR-d", level: 1, color: "green" },
{ id: "UY", group: 100, label: "UY-n", level: 1, color: "green" },
]

var links = [
{ target: "RADIO", source: "AM", strength: 1.0 },
{ target: "ONE", source: "BBC", strength: 1.0 },
{ target: "POST", source: "BLOG", strength: 1.0 },
{ target: "BOOK", source: "BLUE", strength: 1.0 },
{ target: "CLUB", source: "BOOK", strength: 1.0 },
{ target: "STORE", source: "BOOK", strength: 1.0 },
{ target: "OFF", source: "CALL", strength: 1.0 },
{ target: "CITY", source: "CAPITAL", strength: 1.0 },
{ target: "IQ", source: "CAPITAL", strength: 1.0 },
{ target: "ONE", source: "CAPITAL", strength: 1.0 },
{ target: "HOUSE", source: "CLUB", strength: 1.0 },
{ target: "SHOP", source: "COFFEE", strength: 1.0 },
{ target: "GAME", source: "COMPUTER", strength: 1.0 },
{ target: "NETWORK", source: "COMPUTER", strength: 1.0 },
{ target: "VISION", source: "COMPUTER", strength: 1.0 },
{ target: "OFFICE", source: "DENTIST", strength: 1.0 },
{ target: "NETWORK", source: "DISH", strength: 1.0 },
{ target: "MARKET", source: "FARMERS", strength: 1.0 },
{ target: "FISHING", source: "FLY", strength: 1.0 },
{ target: "NETWORK", source: "FOOD", strength: 1.0 },
{ target: "SAFETY", source: "FOOD", strength: 1.0 },
{ target: "ENERGY", source: "FREE", strength: 1.0 },
{ target: "MARKET", source: "FREE", strength: 1.0 },
{ target: "PRESS", source: "FREE", strength: 1.0 },
{ target: "CITY", source: "GARDEN", strength: 1.0 },
{ target: "SHOP", source: "GIFT", strength: 1.0 },
{ target: "GLASS", source: "GOOGLE", strength: 1.0 },
{ target: "PLUS", source: "GOOGLE", strength: 1.0 },
{ target: "SEARCH", source: "GOOGLE", strength: 1.0 },
{ target: "ROOM", source: "GREEN", strength: 1.0 },
{ target: "CALL", source: "HOUSE", strength: 1.0 },
{ target: "FISHING", source: "ICE", strength: 1.0 },
{ target: "HOUSE", source: "ICE", strength: 1.0 },
{ target: "STORE", source: "KINDLE", strength: 1.0 },
{ target: "CITY", source: "LEGO", strength: 1.0 },
{ target: "MOVIE", source: "LEGO", strength: 1.0 },
{ target: "ROOM", source: "LIVING", strength: 1.0 },
{ target: "PLACE", source: "MARKET", strength: 1.0 },
{ target: "OFFICE", source: "MICROSOFT", strength: 1.0 },
{ target: "STORE", source: "MICROSOFT", strength: 1.0 },
{ target: "XBOX", source: "MICROSOFT", strength: 1.0 },
{ target: "PRESS", source: "MIT", strength: 1.0 },
{ target: "AD", source: "MOBILE", strength: 1.0 },
{ target: "NETWORK", source: "MOBILE", strength: 1.0 },
{ target: "PHONE", source: "MOBILE", strength: 1.0 },
{ target: "ENERGY", source: "MONSTER", strength: 1.0 },
{ target: "STAR", source: "MOVIE", strength: 1.0 },
{ target: "STUDIO", source: "MOVIE", strength: 1.0 },
{ target: "THEATER", source: "MOVIE", strength: 1.0 },
{ target: "WORLD", source: "NEW", strength: 1.0 },
{ target: "HOUSE", source: "OPEN", strength: 1.0 },
{ target: "MARKET", source: "OPEN", strength: 1.0 },
{ target: "WORLD", source: "OPEN", strength: 1.0 },
{ target: "FOOD", source: "PET", strength: 1.0 },
{ target: "SHOP", source: "PET", strength: 1.0 },
{ target: "BOOK", source: "PHONE", strength: 1.0 },
{ target: "CALL", source: "PHONE", strength: 1.0 },
{ target: "NETWORK", source: "PLAYSTATION", strength: 1.0 },
{ target: "PLUS", source: "PLAYSTATION", strength: 1.0 },
{ target: "STORE", source: "PLAYSTATION", strength: 1.0 },
{ target: "ONE", source: "PLUS", strength: 1.0 },
{ target: "OFFICE", source: "POST", strength: 1.0 },
{ target: "OFFICE", source: "PRESS", strength: 1.0 },
{ target: "ROOM", source: "PRESS", strength: 1.0 },
{ target: "STAR", source: "RADIO", strength: 1.0 },
{ target: "HOUSE", source: "SAFE", strength: 1.0 },
{ target: "GLASS", source: "SAFETY", strength: 1.0 },
{ target: "PIN", source: "SAFETY", strength: 1.0 },
{ target: "BAR", source: "SEARCH", strength: 1.0 },
{ target: "CAPITAL", source: "SOCIAL", strength: 1.0 },
{ target: "CLUB", source: "SOCIAL", strength: 1.0 },
{ target: "NETWORK", source: "SOCIAL", strength: 1.0 },
{ target: "ENERGY", source: "SOLAR", strength: 1.0 },
{ target: "ERICSSON", source: "SONY", strength: 1.0 },
{ target: "PICTURES", source: "SONY", strength: 1.0 },
{ target: "PLAYSTATION", source: "SONY", strength: 1.0 },
{ target: "CLUB", source: "TENNIS", strength: 1.0 },
{ target: "OPEN", source: "TENNIS", strength: 1.0 },
{ target: "POST", source: "TRADING", strength: 1.0 },
{ target: "MOBILE", source: "VIRGIN", strength: 1.0 },
{ target: "BANK", source: "WORLD", strength: 1.0 },
{ target: "LIVE", source: "XBOX", strength: 1.0 },
{ target: "ONE", source: "XBOX", strength: 1.0 },
{ target: "SEARCH", source: "YAHOO", strength: 1.0 },
{ target: "STUDIO", source: "YOGA", strength: 1.0 },
{ target: "ES", source: "AD", strength: 1.0 },
{ target: "FR", source: "AD", strength: 1.0 },
{ target: "AZ", source: "AM", strength: 1.0 },
{ target: "GE", source: "AM", strength: 1.0 },
{ target: "IR", source: "AM", strength: 1.0 },
{ target: "TR", source: "AM", strength: 1.0 },
{ target: "BO", source: "AR", strength: 1.0 },
{ target: "CL", source: "AR", strength: 1.0 },
{ target: "PY", source: "AR", strength: 1.0 },
{ target: "UY", source: "AR", strength: 1.0 },
{ target: "GE", source: "AZ", strength: 1.0 },
{ target: "IR", source: "AZ", strength: 1.0 },
{ target: "RU", source: "AZ", strength: 1.0 },
{ target: "TR", source: "AZ", strength: 1.0 },
{ target: "DE", source: "BE", strength: 1.0 },
{ target: "FR", source: "BE", strength: 1.0 },
{ target: "LU", source: "BE", strength: 1.0 },
{ target: "NL", source: "BE", strength: 1.0 },
{ target: "BR", source: "BO", strength: 1.0 },
{ target: "CL", source: "BO", strength: 1.0 },
{ target: "PY", source: "BO", strength: 1.0 },
{ target: "FR", source: "BR", strength: 1.0 },
{ target: "PY", source: "BR", strength: 1.0 },
{ target: "UY", source: "BR", strength: 1.0 },
{ target: "DE", source: "CZ", strength: 1.0 },
{ target: "PL", source: "CZ", strength: 1.0 },
{ target: "NL", source: "DE", strength: 1.0 },
{ target: "FR", source: "DE", strength: 1.0 },
{ target: "LU", source: "DE", strength: 1.0 },
{ target: "PL", source: "DE", strength: 1.0 },
{ target: "FR", source: "ES", strength: 1.0 },
{ target: "PT", source: "ES", strength: 1.0 },
{ target: "LU", source: "FR", strength: 1.0 },
{ target: "NL", source: "FR", strength: 1.0 },
{ target: "RU", source: "GE", strength: 1.0 },
{ target: "TR", source: "GE", strength: 1.0 },
{ target: "TR", source: "GR", strength: 1.0 },
{ target: "SY", source: "IQ", strength: 1.0 },
{ target: "KW", source: "IQ", strength: 1.0 },
{ target: "TR", source: "IQ", strength: 1.0 },
{ target: "IQ", source: "IR", strength: 1.0 },
{ target: "TR", source: "IR", strength: 1.0 },
{ target: "RU", source: "PL", strength: 1.0 },
{ target: "TR", source: "SY", strength: 1.0 },
]

function getNeighbors(node) {
  return links.reduce(function (neighbors, link) {
      if (link.target.id === node.id) {
        neighbors.push(link.source.id)
      } else if (link.source.id === node.id) {
        neighbors.push(link.target.id)
      }
      return neighbors
    },
    [node.id]
  )
}

function isNeighborLink(node, link) {
  return link.target.id === node.id || link.source.id === node.id
}


function getNodeColor(node, neighbors) {
  if (Array.isArray(neighbors) && neighbors.indexOf(node.id) > -1) {
    //return node.level === 1 ? 'blue' : 'green'
    return node.color
  }

  //return node.level === 1 ? 'red' : 'gray'
  return node.color
}


function getLinkColor(node, link) {
  return isNeighborLink(node, link) ? 'green' : '#E5E5E5'
}

function getTextColor(node, neighbors) {
  return Array.isArray(neighbors) && neighbors.indexOf(node.id) > -1 ? 'green' : 'black'
}

var width = 5000//window.innerWidth
var height = 5000//window.innerHeight

var svg = d3.select('svg')
svg.attr('width', width).attr('height', height)

// simulation setup with all forces
var linkForce = d3
  .forceLink()
  .id(function (link) { return link.id })
  .strength(function (link) { return link.strength })

var simulation = d3
  .forceSimulation()
  .force('link', linkForce)
  .force('charge', d3.forceManyBody().strength(-120))
  .force('center', d3.forceCenter(width / 2, height / 2))

var dragDrop = d3.drag().on('start', function (node) {
  node.fx = node.x
  node.fy = node.y
  console.log(node)
}).on('drag', function (node) {
  simulation.alphaTarget(0.7).restart()
  node.fx = d3.event.x
  node.fy = d3.event.y
})/*.on('end', function (node) {
  if (!d3.event.active) {
    simulation.alphaTarget(0)
  }
  node.fx = null
  node.fy = null
})*/

function selectNode(selectedNode) {
  var neighbors = getNeighbors(selectedNode)

  // we modify the styles to highlight selected nodes
  nodeElements.attr('fill', function (node) { return getNodeColor(node, neighbors) })
  textElements.attr('fill', function (node) { return getTextColor(node, neighbors) })
  linkElements.attr('stroke', function (link) { return getLinkColor(selectedNode, link) })
}

var linkElements = svg.append("g")
  .attr("class", "links")
  .selectAll("line")
  .data(links)
  .enter().append("line")
    .attr("stroke-width", 1)
	  .attr("stroke", "rgba(50, 50, 50, 0.2)")

var nodeElements = svg.append("g")
  .attr("class", "nodes")
  .selectAll("circle")
  .data(nodes)
  .enter().append("circle")
    .attr("r", 10)
    .attr("fill", getNodeColor)
    .call(dragDrop)
    .on('click', selectNode)

var textElements = svg.append("g")
  .attr("class", "texts")
  .selectAll("text")
  .data(nodes)
  .enter().append("text")
    .text(function (node) { return  node.label })
	  .attr("font-size", 15)
	  .attr("dx", 15)
    .attr("dy", 4)

simulation.nodes(nodes).on('tick', () => {
  nodeElements
    .attr('cx', function (node) { return node.x })
    .attr('cy', function (node) { return node.y })
  textElements
    .attr('x', function (node) { return node.x })
    .attr('y', function (node) { return node.y })
  linkElements
    .attr('x1', function (link) { return link.source.x })
    .attr('y1', function (link) { return link.source.y })
    .attr('x2', function (link) { return link.target.x })
    .attr('y2', function (link) { return link.target.y })
})

simulation.force("link").links(links)
</script>
